body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-17xl: 36px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-black: #000;
  --color-deepskyblue-100: #34c2ff;
}
